@import url("/src/index.css");

.livePreview {
  background-color: var(--color-lime);
  color: black;
  padding: 0.8em 1.7em;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  z-index: 1000;
}

.slider {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 90%;
}

.slides {
  display: flex;
  width: max-content;
  will-change: transform;
  animation: scroll 18s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}

.slider:hover .slides {
  animation-play-state: paused;
}

.slide {
  background-color: var(--color-neutral-800);
  padding: 0.8em;
  flex-shrink: 0;
  border-right: 1px solid rgb(71, 71, 71);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.type {
  color: var(--color-text-secondary);
}

.amount {
  color: white;
}

.rate {
  font-size: 0.78rem;
}

.liveDot {
  position: absolute;
  background-color: black;
  width: 7px;
  height: 7px;
  translate: -12px 7px;
  border-radius: 10px;
  opacity: 0;
  animation: livedot 0.6s linear 0.7s infinite alternate;
}

@keyframes livedot {
  to {
    opacity: 1;
  }
}

.increase {
  color: var(--color-success);
}

.decrease {
  color: var(--color-error);
}
