@import url("/src/index.css");

.livePreview {
  background-color: var(--color-lime);
  color: var(--color-text-primary);
  padding: var(--spacing-3) var(--spacing-4);
  flex-shrink: 0;
  position: absolute;
  left: 0;
  z-index: 1000;
}

.slider {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 90%;
}

.slides {
  display: flex;
  width: max-content;
  will-change: transform;
  animation: scroll 18s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}

.slider:hover .slides {
  animation-play-state: paused;
}

.slide {
  background-color: var(--color-neutral-800);
  padding: var(--spacing-2);
  flex-shrink: 0;
  border-right: 1px solid var(--color-border-dark);
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}

.type {
  color: var(--color-text-secondary);
}

.amount {
  color: var(--color-text-inverse);
}

.rate {
  font-size: var(--font-size-xs);
}

.liveDot {
  position: absolute;
  background-color: var(--color-primary);
  width: 7px;
  height: 7px;
  translate: -12px 7px;
  border-radius: 10px;
  opacity: 0;
  animation: livedot 0.6s linear 0.7s infinite alternate;
}

@keyframes livedot {
  to {
    opacity: 1;
  }
}

.increase {
  color: var(--color-success);
}

.decrease {
  color: var(--color-error);
}